In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

csv_path = "resources/ted_talks.csv"
ted_df = pd.read_csv(csv_path)

ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869

In [3]:
bins = [0, 199999, 399999, 599999, 799999, 999999,
        1999999, 2999999, 3999999, 4999999, 50000000]

group_labels = ["0 to 199k", "200k to 399k", "400k to 599k", "600k to 799k", "800k to 999k", "1mil to 2mil",
                "2m to 3m", "3m to 4m", "4m to 5m", "5m to 50m"]

pd.cut(ted_df["views"], bins, labels=group_labels).head()

0       5m to 50m
1        3m to 4m
2    1mil to 2mil
3    1mil to 2mil
4       5m to 50m
Name: views, dtype: category
Categories (10, object): ['0 to 199k' < '200k to 399k' < '400k to 599k' < '600k to 799k' ... '2m to 3m' < '3m to 4m' < '4m to 5m' < '5m to 50m']

In [4]:
ted_df["View Group"] = pd.cut(ted_df["views"], bins, labels=group_labels)
ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views,View Group
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110,5m to 50m
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520,3m to 4m
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292,1mil to 2mil
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550,1mil to 2mil
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869,5m to 50m

In [5]:
ted_group = ted_df.groupby("View Group")

print(ted_group["comments"].count())

View Group
0 to 199k         32
200k to 399k     135
400k to 599k     234
600k to 799k     307
800k to 999k     339
1mil to 2mil    1004
2m to 3m         239
3m to 4m          93
4m to 5m          68
5m to 50m         99
Name: comments, dtype: int64

In [6]:
ted_group[["comments", "duration", "languages"]].mean()

                comments    duration  languages
View Group
0 to 199k      76.937500  898.187500   4.062500
200k to 399k   81.992593  832.192593  18.785185
400k to 599k  107.162393  870.517094  22.940171
600k to 799k  118.912052  829.039088  24.400651
800k to 999k  119.628319  798.772861  25.678466
1mil to 2mil  168.136454  809.899402  27.899402
2m to 3m      299.481172  832.430962  32.807531
3m to 4m      360.870968  809.505376  34.258065
4m to 5m      507.088235  920.514706  35.720588
5m to 50m     650.393939  884.282828  40.252525